@use '../../../../styles/variables'
@use '../../../../styles/mixins'

#itemCharacteristics
    width: 140px
    height: 165px
    background-color: variables.$primary-color
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 15px
    p
        width: 100%
        text-align: center
