@use '../styles/variables'

@mixin btn
    height: 29px
    width: 110px
    border-radius: 15px
    border: none
    background-color: variables.$primary-color
    font-size: 0.625rem
    color: variables.$white-color
    letter-spacing: 3px
    text-transform: uppercase
