@use '../../styles/variables'
@use '../../styles/mixins'

@font-face
    font-family: ArgentumSans-Regular
    src: url(../../assets/fonts/ArgentumSans-Regular.ttf)
@font-face
    font-family: ArgentumSans-Black
    src: url(../../assets/fonts/ArgentumSans-Black.ttf)
@font-face
    font-family: ArgentumSans-Light
    src: url(../../assets/fonts/ArgentumSans-Light.ttf)

#cards
    display: flex
    align-items: center
    justify-content: space-between
    .img
        width: 50%
        max-height: 50vh
        img
            width: 100%
            max-height: 50vh

    .content
        height: 50vh
        width: 50%
        display: flex
        justify-content: center
        flex-direction: column
        gap: 30px
        padding: 50px 100px
        div
            display: flex
            align-items: center
            gap: 10px
            .dash
                height: 1px
                width: 37px
                background-color: variables.$white-color
            h3
                font-size: 1rem
                letter-spacing: 3px
                color: variables.$white-color
                text-transform: uppercase
                font-weight: normal
                font-family: ArgentumSans-Regular
        h2
            font-size: 4rem
            width: 90%
            color: variables.$white-color
            font-weight: 700
            font-family: ArgentumSans-Black
        p
            font-size: 0.875rem
            color: variables.$white-color
            font-weight: 400
            font-family: ArgentumSans-Light
        button
            @include mixins.btn
            background-color: transparent
            border: solid 1px variables.$white-color
