@use '../../styles/variables'
@use '../../styles/mixins'

@font-face
    font-family: ArgentumSans-Bold
    src: url(../../assets/fonts/ArgentumSans-Bold.ttf)
@font-face
    font-family: ArgentumSans-Light
    src: url(../../assets/fonts/ArgentumSans-Light.ttf)

#contact
    background-color: variables.$primary-color
    height: 55vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 2vh
    .contact__title
        font-size: 4rem
        color: variables.$white-color
        font-weight: 700
        font-family: ArgentumSans-Bold
    .contact__input
        border-radius: 16px
        width: 30%
        height: 4vh
        border: none
        padding: 0 10px
        background-color: variables.$white-color
        @media screen and (max-width: 1024px)
            width: 50%
        &::placeholder
            color: variables.$input-placeholder
            font-size: 0.75rem
            font-family: ArgentumSans-Light
            @media screen and (min-width: 2560px)
                font-size: 1rem
    .contact__textarea
        border-radius: 16px
        width: 30%
        height: 68px
        border: none
        padding: 10px
        background-color: variables.$white-color
        @media screen and (max-width: 1024px)
            width: 50%
        &::placeholder
            color: variables.$input-placeholder
            font-size: 0.75rem
            font-family: ArgentumSans-Light
            @media screen and (min-width: 2560px)
                font-size: 1rem
    .contact__button
        @include mixins.btn
        border: solid 1px variables.$white-color
