@use '../../styles/variables'
@use '../../styles/mixins'
@font-face
    font-family: ArgentumSans-Regular
    src: url(../../assets/fonts/ArgentumSans-Regular.ttf)

#header
    display: flex
    align-items: center
    justify-content: space-between
    height: 7vh
    padding: 0 50px

    img
        width: 10%
    div
        display: flex
        align-items: center
        justify-content: space-between
        width: 30vw

    ul
        display: flex
        align-items: center
        justify-content: space-between
        list-style: none
        width: 20vw
        a
            text-decoration: none
            li
                color: variables.$primary-color
                font-size: 1rem
                font-family: ArgentumSans-Regular
    button
        @include mixins.btn
