@use '../../../styles/variables'
@use '../../../styles/mixins'

@font-face
    font-family: ArgentumSans-Bold
    src: url(../../assets/fonts/ArgentumSans-Bold.ttf)
@font-face
    font-family: ArgentumSans-Medium
    src: url(../../assets/fonts/ArgentumSans-Medium.ttf)

#menuFooter
    .menuFooter__title
        color: variables.$primary-color
        font-size: 1.5rem
        font-weight: 700
        font-family: ArgentumSans-Bold
    .menuFooter__list
        display: flex
        flex-direction: column
        gap: 10px
        .menuFooter__item
            .menuFooter__link
                text-decoration: none
                color: variables.$primary-color
                font-size: 0.75rem
                font-weight: 400
                font-family: ArgentumSans-Medium
